<h2>{{header}}</h2>
<button class='close'>X</button>
<input class='email' type='text' placeholder='Email' autofocus="autofocus">
<br><input class='password' type='password' placeholder='Password'>
<br><button class='submit'>{{button}}</button>
<span class='swap'>{{swap}}</span>
<p class='error'> </p>