<div class='clipcontainer'>
  <div class='text med action' action='instrument'>Instrument</div>
  <div class='text med action' action='drum'>Drum Machine</div>
  <div class='text med action' action='live'>Vocals</div>
  <div class='text med action red' action='cancel'>Cancel</div>
</div>