<div class='loading'>
  <div class="huge">Loading {{loaded}}/3</div><br><br>
  <div class="small"><em>You may need to allow permission to use your microphone.</em></div>
  <div class="small"><em>Check the bar at the top of the screen.</em></div>
  <br><br>
  <div class="small"><em>This site works best on Google Chrome.</em></div>
</div>
