<button class='close'>X</button>
{{#if user}}
  {{#if loading}}
    <h2>Loading your songs...
  {{else}}
    <h2>Load a song:</h2>
    <ul>
    {{#each songs}}
      <li class='song'>{{this}}</li>
    {{else}}
      <li>No songs to display</li>
    {{/each}}
    </ul>
  {{/if}}
{{else}}
  <h2>You need to log in before you can load your songs!</h2>
{{/if}}