<h1 class='loading title'>Tunesmith</h1>
<h3 class='loading subtitle large'>Record songs using only your voice!</h3>

<div class='loading stepsContainer clearfix'>
  <div class='step'>
    <img src='images/step1.png'/>
    <p>Add a track!</p>
  </div>
  <div class='step'>
    <img src='images/step2.png'/>
    <p>Sing a tune!</p>
  </div>
  <div class='step'>
    <img src='images/step3.png'/>
    <p>Layer your clips!</p>
  </div>
  <div class='step'>
    <img src='images/step4.png'/>
    <p>Enjoy your song!</p>
  </div>
</div>


<div class='loading compatibility'>
  <h3 class='loading subtitle large'>Click the button in the top-right to begin!</h3>
  <div class="small"><em>This site works best on Google Chrome.</em></div>
  <div class="tiny"><em>Compatiability on other browsers is... unlikely.</em></div>
</div>

<img class='loading permissionsArrow' src="images/clickme.png">