<header>
  <div class='button left med newSong'>New Song</div>
  <div class='button left med newSection'>New Section</div>
  <div class='button left med load'>Load Song</div>
  <div class='button left med save'>Save Song</div>
  <div class='button left med export'>Export Song</div>
</header>