<button class='left med newSong'>New Song</button>
<button class='left med load'>Load Song</button>
<button class='left med save'>Save Song</button>
{{!-- <button class='left med export'>Export Song</button> --}}
{{#if user}}
  <button class='right med logout'>Log Out</button>
{{else}}
  <button class='right med login'>Log In</button>
  <button class='right med signup'>Sign Up</button>
{{/if}}