<header>
  <button class='left med newSong'>New Song</button>
  <button class='left med newSection'>New Section</button>
  <button class='left med load'>Load Song</button>
  <button class='left med save'>Save Song</button>
  <button class='left med export'>Export Song</button>
</header>