<h2>Save your song:</h2>
<button class='close'>X</button>
{{#unless existingTitle}}
  <input class='name' type='text' placeholder="Your Song's Title">
  <br><button class='submit'>Save</button>
{{else}}
  <p class='overwrite'>Would you like to overwrite {{existingTitle}}?</p><br>
  <button class='overwrite'>Yes</button>
  <button class='noOverwrite'>No</button>
{{/unless}}
<p class='error'> </p>