<button class="selector rerecord">
  <p class="large rerecord">Rerecord</p>
  <img class="rerecord" src="images/record.png"/>
</button>
<button class="selector change">
  <p class="large change">Change</p>
  <img class="change" src="images/{{type}}.png"/>
</button>
<button class="selector edit">
  <p class="large edit">Edit Notes</p>
  <img class="edit" src="images/options.png"/>
</button>
<button class="selector cancel">
  <p class="large cancel">Cancel</p>
  <img class="cancel" src="images/cancel.png"/>
</button>

