<button class="selector instrument">
  <p class="large instrument">Instrument</p>
  <img class="instrument" src="images/instrument.png"/>
</button>
<button class="selector drum">
  <p class="large drum">Drums</p>
  <img class="drum" src="images/drum.png"/>
</button>
<button class="selector live greyout">
  <p class="large live">Vocals</p>
  <img class="live" src="images/live.png"/>
</button>
<button class="selector cancel">
  <p class="large cancel">Cancel</p>
  <img class="cancel" src="images/cancel.png"/>
</button>