<button class="selector instruments">
  <p class="large instruments">Instrument</p>
  <img class="instruments" src="images/instrument.png"/>
</button>
<button class="selector drums">
  <p class="large drums">Drums</p>
  <img class="drums" src="images/drum.png"/>
</button>
<button class="selector live greyout">
  <p class="large live">Vocals</p>
  <img class="live" src="images/live.png"/>
</button>
<button class="selector cancel">
  <p class="large cancel">Cancel</p>
  <img class="cancel" src="images/cancel.png"/>
</button>