<div class="button big instrument">
  <p class="large">Instrument</p>
  <img class="instrument" src="images/instrument.png"/>
</div>
<div class="button big drum">
  <p class="large">Drums</p>
  <img class="drum" src="images/drum.png"/>
</div>
<div class="button big live">
  <p class="large">Vocals</p>
  <img class="live" src="images/live.png"/>
</div>
<div class="button big cancel">
  <p class="large">Cancel</p>
  <img class="cancel" src="images/cancel.png"/>
</div>