// Functions

border-radius(r)
  border-radius r
  -moz-border-radius r
  -webkit-border-radius r

box-shadow()
  -moz-box-shadow: arguments
  -webkit-box-shadow: arguments
  box-shadow: arguments

button-background(col)
  gradient: darken(col, 10%), lighten(col, 10%)
  &:hover
      gradient: col, lighten(col, 30%)
  &:active
    gradient: darken(col, 15%), lighten(col, 5%)
    box-shadow none
    position: relative
    left: 2px
    top: 2px
  &.greyout
    gradient: darken(col, 70%), darken(col, 60%)

gradient(col1, col2)
  background: col1; /* Old browsers */
  background: -moz-linear-gradient(-45deg, col1 0%, col2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,col1), color-stop(100%,col2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, col1 0%,col2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, col1 0%,col2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, col1 0%,col2 100%); /* IE10+ */
  background: linear-gradient(135deg, col1 0%,col2 100%); /* W3C */

background-size()
  -webkit-background-size: arguments
  -moz-background-size: arguments
  -o-background-size: arguments
  background-size: arguments


// Variables
bg_color = #44d9ff

header_color = #0044cc

clip_list_color = #DDD
clip_list_top_margin = 120px

clip_size = 200px
clip_padding = 20px
clip_margin = 10px
clip_text_color = #111
clip_border_radius = 10px

std_border = 1px solid black

text_sizes = 10px 16px 22px 30px 50px

// Actual CSS
*
  margin 0
  padding 0
  font-family: helvetica

// Kill default buttons and lists.
button
  border: 0
  outline: 0
  background: none

li
  list-style-type: none

.left
  float left

.right
  float right

.hidden
  display: none

.tiny
  font-size text_sizes[0]

.small
  font-size text_sizes[1]

.med
  font-size text_sizes[2]

.large
  font-size text_sizes[3]

.huge
  font-size text_sizes[4]

.red
  color: red

.clearfix:after
  visibility hidden
  display block
  font-size 0
  content " "
  clear both
  height 0

#background
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  gradient: darken(bg_color, 20%), lighten(bg_color, 20%)
  z-index: -2

#greyout
  position:fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 1
  opacity: 0.2
  display: none
  background-color: #242264

.popup
  position: fixed
  top: 50%
  left: 50%
  width: 500px
  height: 300px
  margin-left: -250px;
  margin-top: -150px;
  z-index: 2
  padding 20px
  gradient(lighten(clip_list_color, 10%), lighten(clip_list_color, 50%))
  border std_border
  border-radius 10px
  box-shadow: 5px 5px 5px #666
  h2
    margin: 15px 10px
  input
    padding: 10px
    font-size: 20px
    margin: 15px
  button
    font-size: 18px
    border: std_border
    border-radius: 5px
    background-color: blue
    margin: 10px
    padding: 10px
    color: #F0F0F0
    cursor: pointer
    &:hover
      background-color lighten(@background-color, 20%)
    &.close
      position: absolute
      right: 10px
      top: 10px
      color: #B11
      font-size: 36px
      cursor: pointer
      border: none
      background-color: transparent
      margin: 0
      padding: 0
      &:hover
        color: lighten(@color, 20%)
  .swap
    cursor: pointer
    text-decoration: underline
    color: green
    &:hover
      color lighten(@color, 20%)
  .song
    margin-left: 50px
    margin-bottom: 5px
    cursor: pointer
    color: green
    &:hover
      color lighten(@color, 20%)
  .error
    color: #F66


.loading
  color: #F0F0F0
  margin: 100px auto
  text-align: center

audio
  display: none

header
  gradient: darken(header_color, 20%), lighten(header_color, 20%)
  width: 100%
  position: fixed
  left: 0px
  top: 0px


header button
  color: #F9F9F9
  background-color rgba(256, 256, 256, 0)
  display:inline-block
  cursor: pointer
  padding 10px 25px
  &:hover
    background-color: rgba(256, 256, 256, 0.2)
  &.left
    float: left
    border-right: 1px solid lighten(header_color, 15%)
  &.right
    float: right
    border-left: 1px solid lighten(header_color, 25%)

.clips
  margin clip_list_top_margin auto
  width 900px
  padding 20px
  gradient(darken(clip_list_color, 10%), lighten(clip_list_color, 30%))
  border std_border
  border-radius 10px
  box-shadow: 5px 5px 5px #666

button.selector
  display: block;
  height: clip_size
  width: clip_size
  padding: clip_padding
  margin: clip_margin
  border-radius clip_border_radius
  border: 1px solid grey
  float:left
  cursor: pointer
  text-align: center
  box-shadow: 3px 3px 3px #666
  &.flash
    border: 2px solid red
    padding: clip_padding - 1
    box-shadow: 3px 3px 3px #B00

button.selector
  button-background #FFFF77

button.selector.clip
  button-background #FEFEFE

button.selector[command=cancel]
  button-background #FFCC99

button.selector img
  height: 75%
  width: 75%
  margin:10px auto

button.selector p
  margin-top: -5px

.selectorBigText
  font-size:100px
  margin: 50px 80px 0 0
  float: right

.tab
  z-index: -1
  position: absolute;
  background-color: lighten(clip_list_color, 20%)
  top: clip_list_top_margin - 40px
  border-radius 10px
  height: 40px
  padding: 10px
  border: std_border
  left: 50%
  &.current
    margin-left: -400px;
  &.playback
    margin-left: 250px;

.tempo
  margin: 0 10px
  &.up, &.down
    cursor: pointer

