// Functions

border-radius(r)
  border-radius r
  -moz-border-radius r
  -webkit-border-radius r

box-shadow()
  -moz-box-shadow: arguments
  -webkit-box-shadow: arguments
  box-shadow: arguments

button-background(col)
  background-color: col
  &:hover
    background-color lighten(@background-color, 30%)
  &:active
    background-color darken(@background-color, 5%)
    box-shadow none
    position: relative
    left: 2px
    top: 2px


// Variables
bg_color = #00bfff

header_color = #0044cc

clip_list_color = #DDD

clip_size = 160px
clip_padding = 20px
clip_margin = 10px
clip_text_color = #111
clip_border_radius = 20px

std_border = 1px solid black

text_sizes = 10px 16px 22px 30px 50px

// Actual CSS
*
  margin 0
  padding 0
  font-family: helvetica

.left
  float left

.right
  float right

.tiny
  font-size text_sizes[0]

.small
  font-size text_sizes[1]

.med
  font-size text_sizes[2]

.large
  font-size text_sizes[3]

.huge
  font-size text_sizes[4]

.red
  color: red

.clearfix:after
  visibility hidden
  display block
  font-size 0
  content " "
  clear both
  height 0

body 
  background-color bg_color

header
  background-color header_color
  color: #F9F9F9
  width: 100%
  position: fixed
  left: 0px
  top: 0px
  

header .button, footer .button
  background-color header_color
  display:inline-block
  cursor: pointer
  &:hover
    background-color: lighten(@background-color, 20%)
  &.left
    border-right: 2px solid lighten(@background-color, 15%)
  &.right
    border-left: 2px solid lighten(@background-color, 15%)

header .button
  padding 10px 25px


.clips 
  margin 100px auto
  width 900px
  padding 20px
  background-color clip_list_color
  border std_border
  border-radius 20px
  box-shadow: 5px 5px 5px #666
  color: #111

.button.big, .clip
  height: clip_size
  width: clip_size
  padding: clip_padding
  margin: clip_margin
  border-radius clip_border_radius
  border: 1px solid grey
  float:left
  cursor: pointer
  text-align: center
  box-shadow: 3px 3px 3px #666
  &.flash
    border: 2px solid red
    padding: clip_padding - 1
    box-shadow: 3px 3px 3px #B00

.button.big
  button-background #BBEEBB

.clip
  button-background #FEFEFE

.button.big.add
  button-background #FFFF66

.button.big.cancel
  button-background #FFCC99

.recordingText
  font-size:100px
  margin: 50px 0 0 300px 

.button img, .clip img
  height: 75%
  width: 75%
  margin:10px auto

.button p, .clip p
  margin-top: -5px

.playbackBar
  display:none
  margin 100px auto 0
  width 500px
  padding 10px
  border std_border
  border-radius 5px
  box-shadow: 5px 5px 5px #666
  background-color clip_list_color
  color: #111
  width: 
  .button 
    width: 5%
    text-align center
    padding: 10px 0
  .playbackBarContainer
    width:94.5%
    height: 100%

.playbackGrad
  z-index: -1
  position:fixed;
  top:0
  left:0
  width:100%
  height:100%
  background-color lighten(bg_color, 10%)
  &.flash
    background-color lighten(@background-color, 20%)
