.button.add {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 40px 30px;
    border: 1px solid #9e9d95;
    border-radius: 8px;
    background: #992828;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffee03), to(#c4ba2b));
    background: -moz-linear-gradient(top, #ffee03, #c4ba2b);
    background: linear-gradient(to bottom, #ffee03, #c4ba2b);
    font: normal normal bold 20px arial;
    color: #ed2626;
    text-decoration: none;
}
.button.add:hover,
.button.add:focus {
    border: 1px solid #fcec11;
    background: #992828;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffff04), to(#ebdf34));
    background: -moz-linear-gradient(top, #ffff04, #ebdf34);
    background: linear-gradient(to bottom, #ffff04, #ebdf34);
    color: #ed2626;
    text-decoration: none;
}
.button.add:active {
    background: #982727;
    background: -webkit-gradient(linear, left top, left bottom, from(#998f02), to(#c4ba2b));
    background: -moz-linear-gradient(top, #998f02, #c4ba2b);
    background: linear-gradient(to bottom, #998f02, #c4ba2b);
}





